* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243, 243);
    display: flex;
    justify-content: center;
}

.container-instagram{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 650px;
    height: 100vh;
}

.container-phone{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.container-phone img{
    height: 50rem;
}

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-height: 34rem;
}

.logo-instagram{
    height: 3rem;
    margin-bottom: 20px;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
   margin-bottom: 10px;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-information{
    margin-bottom: 20px;
    width: 70%;
    height: 3em;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.input-information::placeholder{
    font-size: 12px;
    color: rgb(105, 100, 100);
}

.button-enter{
    margin-bottom: 20px;
    width: 70%;
    height: 2.5em;
    font-weight: bold;
    background-color: #85cbfa;
    color: white;
    border: 1px solid #85cbfa;
    border-radius: 4px;
}

.enter-with{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.or{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.line{
    height: 2px;
    background-color:lightgray;
    flex-grow: 2;
}

.text-or{
    text-align: center;
    color:gray ;
    flex-grow: 1;
}

.enter-facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.enter-facebook img{
    margin-right: 10px;
}

.enter-facebook a{
    color: #374d87;
   
    font-weight:bold
}

.forgot-password{
    color: #374d87;
}

.link-blue{
    color: #38c8ff;
    font-weight: bold;
}

.get-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('../img/apple-button.png');
}
.app-download:nth-child(2){
    background-image: url('../img/googleplay-button.png');
}




@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .container-instagram {
        width: 60%;
    }

    .container-phone{
        display: none;
    }

    .container-login {
        min-width: 100%;
    }
    
    
}